DATABASE_URL="postgresql://seclens:seclenspass@localhost:5432/seclens_db?schema=public"
NEXTAUTH_SECRET="seclens_super_secret_jwt_key_2026_change_in_prod"
NEXTAUTH_URL="http://localhost:3000"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
